/* Fonts ****************************************************/

@font-face { font-family: Logo; src: url('../fonts/logo.ttf'); }
@font-face { font-family: Description; src: url('../fonts/description.ttf'); }

/* Layout ***************************************************/

body {
  margin: 0px;
  background: #0c0c0c; /* Old browsers */
  background: -moz-linear-gradient(top, #0c0c0c 0%, #181818 50%, #0c0c0c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0c0c0c 0%,#181818 50%, #0c0c0c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0c0c0c 0%,#181818 50%, #0c0c0c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c0c0c', endColorstr='#0c0c0c', GradientType=0); /* IE6-9 */
}

#ui {
  cursor: default;
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9000;
}

#logo-holder {
  width: 50%;
  font-family: Logo;
  font-size: 120px;
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
  text-align: center;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.logo {
  margin-bottom: 5px;
  margin-left: 11px;
  overflow: hidden;
}

#info {
  width: 50%;
  font-family: Description;
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
  text-align: center;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#buffer_caption_holder {
  font-family: Description;
  font-size: 20px;
  position: fixed;
  bottom: 20px;
  right: -20px;
  color: #FFF;
  width: 100%;
  margin-left: 20px;
}

.buffer_caption {
  text-align:left;
  background-color: rgba(0,0,0,0.5);
  padding-left:5px;
  padding-right:5px;
}

.visible {
  opacity: 1 !important;
}

.hidden {
  opacity: 0 !important;
  -webkit-transition: opacity 4s;
  -moz-transition: opacity 4s;
  -o-transition: opacity 4s;
  transition: opacity 4s;
}

.blinker {
  animation: blinker 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

@keyframes blinker {
  50% { opacity: 0.3; }
}
