body {
  margin: 0px;
  background: #3a3a3a; /* Old browsers */
  background: -moz-linear-gradient(top, #3a3a3a 0%, #0c0c0c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3a3a3a 0%,#0c0c0c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3a3a3a 0%,#0c0c0c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4f4f', endColorstr='#1c1c1c', GradientType=0); /* IE6-9 */
}
